* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

input {
    margin: 10px;
    height: 50px;
    font-size: 32px;
}

button {
    font-size: 32px;
    height: 50px;
    margin: 10px;
}

.hide {
    display: none;
}

.remove {
    background: url('trash.svg');
    width: 50px;
    height: 50px;
}