body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: blue;
}

.round_points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px;
    position: relative;
    padding: 0 20px;
    max-height: 150px;
}

.left_team, .right_team {
    font-size: 96px;
}

.score {
    height: 150px;
    width: 200px;
    background: #eee;
    font-size: 100px;
    text-align: center;
    line-height: 150px;
    border-radius: 5px;
    box-shadow: #00000066 0 0 10px 10px;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.answers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    height: 750px;
    width: 80%;
    color: white;
}

.left_score {
    margin-left: 10px;
}

.right_score {
    margin-right: 10px;
}

.left_score, .right_score {
    line-height: 175px;
}

.strike {
    background: blue;
    border: blue 3px;
}

#left_score, #right_score {
    box-shadow: #00000066 0 0 10px 10px;
    background: #eee;
    border-radius: 5px;
    width: 175px;
    height: 175px;
    font-size: 90px;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-100%);
}

.answer_card {
    background-color: transparent;
    perspective: 1000px;
    height: 150px;
    margin: 3px 0;
    border: yellow solid 3px;
    width: calc(49% - 6px);
    list-style: none;
    text-align: center;
}

.answer_inner {
    background: slateblue;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.answer_back, .answer_front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped .answer_inner {
    transform: rotateX(180deg);
}

.answer_back {
    transform: rotateX(-180deg);
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 70px;
    display: flex;
    justify-content: space-around;
}

.answer_points {
    background: slateblue;
    border: #eee solid 1px ;
    padding: 5px;
}

.answer_text {
    background: blue;
    width: calc(100% - 200px);
}

.answer_number {
    border-radius: 50%;
    border: black solid 3px;
    width: 120px;
    height: 120px;
    font-size: 100px;
}

.playing > .name {
    background: gold;
    padding: 7px;
}